<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to 'Back', category_path(@category) %>
<%= link_to 'Edit', edit_category_article_path(@category, @article) %>
